html {
	background-color: #f9f9f9;;
}

body {
	color: #111;
	min-height: 500px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-size: 13px;
}
body.home {
	position: static;
}

h1 {
	display: none;
}
#jacket {
	overflow: hidden;
}
body.home #binder {
	max-width: none !important;
	margin: 0 4rem !important;
	width: auto !important;
}
main {
	min-height: 500px !important;
	/*position: relative;*/
}

main > section {
	z-index: 200;

}
main > section > article {
	margin-left: 2rem;
	z-index: 200;
}

main > section.row:before
{
	position: absolute;
	content: ' ';
	top: 35px;
	width: 300%;
	left: -100%;
	height: 200%;
	visibility: visible;
	background-color: #F9F9F9;
}
body.home main > section.row:before {
	display: none;
}

#global-header {
	position: relative;
	z-index: 300;
	margin-left: 0;
}
#global-header.is-front-page {
	margin-bottom: 0;
	margin-left: 198px;
}

#global-header.has-banner {
	margin-bottom: 375px;
}

#global-header:before,
#global-header:after {
	position: absolute;
	content: ' ';
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 190;
}
#global-header,
#global-header:before,
#global-header:after {
	background-color: #2a2c2d;
}

#global-header:before { right: 100%; }
#global-header:after { left: 100%;}

#global-header .site-banner {
	margin-left: 2rem;
}

#global-header .site-banner > a {
	display: inline-block;
	color: #ccc;
	padding: 1.5rem 0;
}

#global-header.is-front-page .site-banner > a {
	padding: 1rem 0;
}

#global-header .site-banner > a.site-title {
	font-size: 1.3rem;
	padding-right: 1rem;
	letter-spacing: 1px;
}

#global-header .site-banner > a.site-subtitle {
	font-size: 0.9rem;
}

#global-header.is-front-page .site-banner > a.site-subtitle {
	display: none;
}

#global-header > nav {
	/*background: #555;
	min-height: 5px;*/
	position: relative;
}


#global-header > nav {
	z-index: 300;
}

#global-header > nav a {
	display: block;
	font-size: 0.85rem;
	letter-spacing: 1px;
	color: #ccc;
	padding: 0.5rem 1.5rem;
}
#global-header > nav a:hover {
	color: #111;
}
#global-header > nav ul ul a {
	color: #111;
}

#global-header.is-front-page > nav {
	position: relative;
}
#global-header > nav > ul {
	margin: 0 0 0 0.5rem;
	padding: 0;
	list-style-type: none;
}
#global-header > nav > ul > li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#global-header > nav > ul > li:first-child {
		display: none;
	}
#global-header > nav > ul > li.activedrop > a,
#global-header > nav > ul > li > a:hover {
	background: #fff;
	color: #111; 
}
.is_dropdown li {
	position: relative;
}

.is_dropdown ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 225px;
	background: #fff;
	display: none; 
}
.is_dropdown li li {
	display: block;
	margin: 0;
	padding: 0;
}
.is_dropdown li li a {
	display: block;
	margin: 0;
	padding: 4px 1rem;
	color: #111;
}
.is_dropdown li li a:hover {
	background-color: #eee;
	}
#pagebanner {
	min-height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#pagebuilder-tertiary-nav { overflow: visible }

#pagebuilder-tertiary-nav {
	position: relative;
	background-color: rgba(225,225,225,0.9);
	/*width: 100%;
	bottom: 100%;
	left: 0;
	overflow: visible;*/
}
#pagebuilder-tertiary-nav ul{
	position: relative;
	z-index: 300;
}

#pagebuilder-tertiary-nav:before,
#pagebuilder-tertiary-nav:after {
	position: absolute;
	content: ' ';
	bottom: 0;
	width: 300%;
	height: 100%;
	background-color: rgba(225,225,225,0.9);
}

#pagebuilder-tertiary-nav:before { right: 100%; }
#pagebuilder-tertiary-nav:after { left: 100%;}

#pagebuilder-tertiary-nav a {
background: none;
color: #555;
display: block;
font-weight: normal;
margin-right: 0;
opacity: 1;
padding: 0 2em;
position: relative;
height: 35px;
line-height: 35px;
}
#pagebuilder-tertiary-nav a:hover {
background: #eee;
}

#pagebuilder-tertiary-nav .selected a { 
background: #F9F9F9;
color: #111;
z-index: 200;
font-weight: bold;
}
.pagebuilder-row{ 
	padding-top: 2rem;
}
#row-100.pagebuilder-row{ 
	padding-top: 0;
}


#row-100 .pagebuilder-item.widget_featured_image .featured-image {
	min-height: 500px;
	background-attachment: fixed;
	background-size: 100% auto;
}
#row-100 .pagebuilder-item.widget_featured_image img {
	display: block;
	width: 100%;
	height: auto;
}

.pagebuilder-item.background {
	margin-top: -100px;
	margin-bottom: -35px;
}
.pagebuilder-item.unbound.recto.verso {
	position: relative;
	left: -2rem;
}

.pagebuilder-item.overlap-header{
	margin-top: -100px;
}
.pagebuilder-item.overlap-nav{
	margin-bottom: -35px;
}
.cahnrs-full-slider.cycle-slideshow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.cahnrs-full-slider.cycle-slideshow > div {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}
.cahnrs-full-slider.cycle-slideshow > div img {
	visibility: hidden;
}
.cahnrs-full-slider.cycle-slideshow > div > a {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
}
.cycle-pager {
	position: absolute;
	bottom: 2rem;
	right: 4rem;
	z-index: 101;
	min-width: 300px; 
	text-align: right;
}
.cycle-pager a{
	display: inline-block;
	margin-right: 10px;
	width: 60px;
	height: 40px;
	background-size: cover;
	opacity: 0.3;
}
.cycle-pager a:hover{
	opacity: 0.7;
}
.cycle-pager a.cycle-pager-active {
	opacity: 1;
}

.cahnrs-full-slider ul.slide-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,0.8);;
	color: #111;
	padding: 0.5rem 0 1.5rem;
	list-style-type: none;
	margin: 0;
}
.cahnrs-full-slider ul.slide-caption > li {
	display: block;
	margin: 0 400px 0 4rem;
}

.cahnrs-full-slider .slide-description {
	display: block;
	max-width: 600px;
	font-size: 0.8rem;
	line-height: 1rem;
}

#default-banner {
	position: fixed;
	background-position: center center;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
}

@media screen and (max-width: 1250px) {
	body.home #binder {
		margin: 0 1rem 0 2rem !important;
	}
	.cahnrs-full-slider ul.slide-caption > li {
	  margin: 0 400px 0 2rem;
	  }
	 #global-header > nav > ul > li > a {
		padding: 0 1rem;
		letter-spacing: 0px;
	}
}
@media screen and (max-width: 1050px) {
	body.home #binder {
		margin: 0 1rem 0 2rem !important;
	}
	.cahnrs-full-slider ul.slide-caption > li {
	  margin: 0 400px 0 2rem;
	  }
	 #global-header > nav > ul > li > a {
		padding: 0 0.75rem;
		letter-spacing: 0px;
	}
}

@media screen and (max-width: 989px){
	#global-header > nav{
		display: none;
	}
	#global-header.is-front-page {
		margin-left: 0;
	}
	#global-header .site-banner {
		margin-left: 0;
	}
	.cycle-pager {
	top: 125px;
	right: 2rem;
	bottom: auto;
	}
	.cycle-pager a{
	border: 2px solid #000;
	opacity: 1 !important;
	}
}
@media screen and (max-width: 850px){
	.cahnrs-full-slider ul.slide-caption > li {
	  margin: 0 2rem;
	  }
}
@media only screen and (max-width: 693px){ 
	.pagebuilder-item {
		background: none !important;
	}
	#global-header .site-banner > a > span.cahnrs-site-title {
	font-size: 1.8rem;
	}
	
}
@media only screen and (max-width: 550px){ 
	#global-header .site-banner > a.site-title {
	font-size: 1rem;
	padding: 0.5rem 0;
	}
	.cahnrs-full-slider ul.slide-caption {
		padding: 0.5rem 0;
	}
	.cahnrs-full-slider ul.slide-caption h3 {
		font-size: 0.9rem;
	}
	
	.cahnrs-full-slider .slide-description {
	display: none;
	}
	
}